<!-- About Page -->
  <!-- Navigation -->
<div class="centerDiv">
  <ul class="nav navbar-nav">
    <li><a class="indexA" ui-sref="home" href="#/home">Home</a></li>
    <li><a class="indexA" ui-sref="about" href="#/about">About Me</a></li>
    <li><a class="indexA" ui-sref="projects" href="#/projects">Projects</a></li>
    <li><a class="indexA" ui-sref="contact" href="#/contact">Contact</a></li>
  </ul>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
      </div>
      <div class="col-md-4">
        <h4 class="h4Title">About Me</h4>
        <p class="pStyle">I am a Full Stack Web Developer with a strong penchant for designing
        and constructing complex concepts from nothing. As a former architecture
        major, I am prepared to use my creativity and imagination to create unique
        and awesome web applications.</p>
      </div>
      <div class="col-md-4">
        <h4 class="h4Title">Technical Skills</h4>
        <ul class="ulStyle1">
          <li>Languages: JavaScript | HTML5 | CSS3 | Ruby | Java</li>
          <li>Front-End Frameworks: AngularJS | ReactJS</li>
          <li>Back-End Frameworks: Node.js + Express | Ruby on Rails</li>
          <li>Front-End Libraries: jQuery | Bootstrap | Materialize</li>
          <li>Databases: PostgreSQL | MongoDB | MySQL</li>
          <li>Web Design: Adobe Photoshop | Adobe Illustrator</li>
          <li>Version Control: Git | GitHub</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4 class="h4Title">Education</h4>
        <ul class="ulStyle1">
          <li>
            General Assembly, Los Angeles
            <br>
            Jun 2016 - Sept 2016
            <br>
            Web Development Immersive Program
          </li>
          <br>
          <li>
            California State University of Los Angeles
            <br>
            Sept 2014 - Present
            <br>
            Major: Computer Science
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>




