<!-- About Page -->
<div class="img-responsive about-header">
  <!-- Navigation -->
  <div class="container">
    <div class="navbar-fixed-top">
      <ul class="nav navbar-nav">
        <li><a class="indexA" ui-sref="home" href="#/home">Home</a></li>
        <li><a class="indexA" ui-sref="about" href="#/about">About Me</a></li>
        <li><a class="indexA" ui-sref="projects" href="#/projects">Projects</a></li>
        <li><a class="indexA" ui-sref="contact" href="#/contact">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="container aboutMeBorder">
    <div class="row">
      <div class="about-me-paragraph">
        <h3>About Me</h3>
        <p>I am a Full Stack Web Developer with a strong penchant for designing
        and constructing complex concepts from nothing. As a former architecture
        major, I am prepared to use my creativity and imagination to create unique
        and awesome web applications. After attending GA's Web Development Immersive
        Program and built several projects on my own, having logged over 1000 hours
        of coding the last 5 months. Prior to that experience, I studied Computer Science
        at California State University of Los Angeles. Even now, I continue to hone my
        skills everyday, whether it be from taking different online courses to reading books
        to expand my knowledge.</p>
      </div>

      <div class="technical-skills-paragraph">
        <h3>Technical Skills</h3>
        <ul class="ulStyle">
          <li>Languages: JavaScript, HTML5, CSS3, Ruby, Java</li>
          <li>Front-End Frameworks: AngularJS, ReactJS</li>
          <li>Back-End Frameworks: Node.js + Express, Ruby on Rails</li>
          <li>Front-End Libraries: jQuery, Bootstrap, Materialize</li>
          <li>Databases: PostgreSQL, MongoDB, MySQL</li>
          <li>Web Design: Adobe Photoshop, Adobe Illustrator</li>
          <li>Version Control: Git & GitHub</li>
        </ul>
    </div>

      <div class="education-paragraph">
        <h3>Education</h3>
        <p>I am a Full Stack Web Developer with a strong penchant for designing
        and constructing complex concepts from nothing. As a former architecture
        major, I am prepared to use my creativity and imagination to create unique
        and awesome web applications.</p>
      </div>

  </div>
  <!-- /.container -->
</div>
<!-- /.img-responsive & home-header -->


