<!-- Contact Page -->
<div class="img-responsive all-header">
  <!-- Navigation -->
  <div class="indexNav">
    <div class="container">
      <div class="navbar navbar-fixed-top">
        <ul class="nav navbar-nav center">
          <li><a class="indexA" ui-sref="home" href="#/home">Home</a></li>
          <li><a class="indexA" ui-sref="about" href="#/about">About Me</a></li>
          <li><a class="indexA" ui-sref="projects" href="#/projects">Projects</a></li>
          <li><a class="indexA" ui-sref="contact" href="#/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="intro-message">
                  <h1 class="h1Title">Contact Me</h1>


              </div>
          </div>
      </div>

  </div>
  <!-- /.container -->
</div>
<!-- /.img-responsive & all-header -->

