<!-- Contact Page -->
<div class="centerDiv">
  <div class="navigation">
    <ul class="navBar nav navbar-nav">
      <li><a class="indexA" ui-sref="home" href="#/home">Home</a></li>
      <li><a class="indexA" ui-sref="about" href="#/about">About Me</a></li>
      <li><a class="indexA" ui-sref="projects" href="#/projects">Projects</a></li>
      <li><a class="indexA" ui-sref="contact" href="#/contact">Contact</a></li>
    </ul>
  </div>

  <br>

  <div class="container-fluid">
    <div class="contactPage">
      <ul class="list-inline intro-social-buttons" style="margin-top: 150px">
        <li><a class="indexAbout" href="mailto:corbout@gmail.com">Email Me</a></li>
        <li><a class="indexAbout" target="_blank" href="https://www.linkedin.com/in/corbin-bautista">LinkedIn</a></li>
        <li><a class="indexAbout" target="_blank" href="https://www.dropbox.com/s/j0lpud59w9buzny/Corbin%20Bautista%20Full%20Stack%20Web%20Developer%20Resume.pdf?dl=0">Resume</a></li>
  </div>
</div>
