<!-- Main Page -->
<div class="centerDiv">
  <div class="container">
    <div class="homeScreen">
        <h1 class="h1Title">Corbin Bautista</h1>
        <h3 class="h3Title">Full Stack Web Developer</h3>
        <br>
        <ul class="list-inline intro-social-buttons">
            <li><a class="indexA" ui-sref="home" href="#/home">Home</a></li>
            <li><a class="indexA" ui-sref="about" href="#/about">About Me</a></li>
            <li><a class="indexA" ui-sref="projects" href="#/projects">Projects</a></li>
            <li><a class="indexA" ui-sref="contact" href="#/contact">Contact</a></li>
        </ul>
      </div>
  </div>
</div>

