<!-- Project Page -->
<div class="centerDiv">
  <div class="navigation">
    <ul class="navBar nav navbar-nav">
      <li><a class="indexA" ui-sref="home" href="#/home">Home</a></li>
      <li><a class="indexA" ui-sref="about" href="#/about">About Me</a></li>
      <li><a class="indexA" ui-sref="projects" href="#/projects">Projects</a></li>
      <li><a class="indexA" ui-sref="contact" href="#/contact">Contact</a></li>
    </ul>
  </div>

  <br>

  <div class="container-fluid">
    <div class="projectPage">
      <ul class="list-inline intro-social-buttons" style="margin-top: 150px">
          <!-- About Me Modal -->
          <li><a class="indexAbout" data-toggle="modal" data-target="#aboutMe">Projects</a></li>
            <div class="modal fade" id="aboutMe">
              <div class="modal-dialog">
                <div class="modal-content" style="width: 100%; margin-top: -125px; opacity: 0.8; padding: 10px 10px;">
                  <div class="row">

                    <!-- Scramble Game -->
                    <div class="col-md-7"><a target="_blank" href="https://corbout.github.io/projectOne_Scramble/" style="text-decoration: none; -webkit-box-shadow: 0px 0px 28px 9px rgba(0,0,0,0);
                    -moz-box-shadow: 0px 0px 28px 9px rgba(0,0,0,0); box-shadow: 0px 0px 28px 9px rgba(0,0,0,0);"><img src="../assets/scramblemacbookpro.png" style="width:100%;"></a></div>
                    <div class="col-md-5">
                      <p>Scramble is a challenging word scrambling game created to test the vocabulary of word game enthusiasts.
                      The user has a limited amount of time to solve as many words as possible. Be careful though, every word wrong deducts
                      one point from your point total.</p>
                    </div>

                    <!-- Virtual Pillbox -->
                    <div class="col-md-7"><a target="_blank" href="https://obscure-plateau-91421.herokuapp.com/users/sign_in" style="text-decoration: none; -webkit-box-shadow: 0px 0px 28px 9px rgba(0,0,0,0);
                    -moz-box-shadow: 0px 0px 28px 9px rgba(0,0,0,0); box-shadow: 0px 0px 28px 9px rgba(0,0,0,0);"><img src="../assets/virtualpillboxmacbookpro.png" style="width:100%;"></a></div>
                    <div class="col-md-5">
                      <p>Pill.box is a web application that allows users to create their own pillbox and keep track of the medication they are taking. It also allows
                      the user to keep track of their physicians and which physician had prescribed which medication.</p>
                    </div>

                    <!-- Squirtles Wordles -->
                    <div class="col-md-7"><a target="_blank" href="https://vinnilla.github.io/WDI-UXDI-Hackathon/" style="text-decoration: none; -webkit-box-shadow: 0px 0px 28px 9px rgba(0,0,0,0);
                    -moz-box-shadow: 0px 0px 28px 9px rgba(0,0,0,0); box-shadow: 0px 0px 28px 9px rgba(0,0,0,0);"><img src="../assets/squirtleswordlesmacbookpro.png" style="width:100%;"></a></div>
                    <div class="col-md-5">
                      <p>Squirtles Worldes is a educational spelling game for primary school students. This collaborative hackathon with UX Designers had an education theme
                      and with the hype of Pokemon due to the overwhelming popularity of Pokemon Go, our team decided to work with the Pokemon theme.</p>
                    </div>

                    <!-- Sole Sauce -->
                    <div class="col-md-7"><a target="_blank" href="" style="text-decoration: none; -webkit-box-shadow: 0px 0px 28px 9px rgba(0,0,0,0);
                    -moz-box-shadow: 0px 0px 28px 9px rgba(0,0,0,0); box-shadow: 0px 0px 28px 9px rgba(0,0,0,0);"><img src="../assets/solesaucemacbookpro.png" style="width:100%;"></a></div>
                    <div class="col-md-5">
                      <p>Sole Sauce is a consignment bidding auction store for big shoes brands such as Nike, Jordans, Adidas, New Balance, Asics.
                      It's idea was built on the resale shoe market and the growing popularity of shoes. Still a work in progress...</p>
                    </div>

                    <!-- Close Button for Modal -->
                    <div class="modalFooter col-md-12">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </ul>
    </div>
  </div>

</div>
